@model AllCarsViewModel
@using CarShopBg.Infrastructure

@{
    ViewBag.Title = "Admin Panel";
}

<h2 class="text-center">@ViewBag.Title</h2>
<div class="row">
    <div class="form-group col-md-4">
        <select class="form-control" id="BrandId" onchange="brandFilter()">
            <option value="0" id="0" selected hidden>Filter by brand</option>
            <option value="AllCars" id="AllCars">All</option>
            @foreach (var brand in Model.Brands)
            {
                <option value="@brand.Id" id="@brand.Id">@brand.Name</option>
            }
        </select>
    </div>
    <div class="form-group col-md-4">
        <select class="form-control" id="ModelId" disabled onchange="modelFilter()">
            <option value="0" id="0" disabled selected hidden>Filter by model</option>
            <option value="AllCars" id="AllCars">All</option>
            @foreach (var currentModel in Model.Models)
            {
                <option value="@currentModel.Id" id="@currentModel.BrandId">@currentModel.Name</option>
            }
        </select>
    </div>
</div>

<div class="row">
    @for (int i = 0; i < Model.Cars.Count; i++)
    {
        var car = Model.Cars[i];

        <div class="col" @(i < 3 ? string.Empty : "hidden")>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@car.ImageUrl" alt="Card image cap">
                <div class="card-body" title="@car.BrandId">
                    <h5 class="card-title" title="@car.ModelId">@car.Brand @car.Model</h5>
                    <p class="card-text" title="@car.CategoryId">@(car.IsApproved ? "Approved" : "Awaiting Approval")</p>
                    <a asp-controller="Cars" asp-area="" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">Details</a>
                    <a asp-area="" asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-secondary">Edit</a>
                    <a asp-area="" asp-controller="Cars" asp-action="ConfirmDelete" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                    <a asp-area="Admin" asp-controller="Cars" asp-action="ApproveCar" asp-route-id="@car.Id" class="btn btn-success mt-1">Approve/Disable</a>
                </div>
            </div>
        </div>
    }
</div>

<button type="button" class="btn btn-primary btn-lg btn-block" id="btn" onclick="viewMore()">Load more</button>

<script>
    let brandFiltered = 0;
    let modelFiltered = 0;
    let carsShown = 3;
    var brandsArray = [];
    var modelArray = [];

    function brandFilter() {
        let btn = document.getElementById("btn");
        brandsArray = [];
        brandFiltered = 0;
        btn.disabled = false;
        let brandSelect = document.getElementById("BrandId");
        let modelSelect = document.getElementById("ModelId");
        let selectedItem = document.getElementById("0");
        modelSelect.disabled = false;
        let brand = brandSelect.options[brandSelect.selectedIndex];
        let modelsArray = modelSelect.options;

        for (let i = 0; i < modelsArray.length; i++) {
            if (modelsArray[i].attributes.id.value == brand.attributes.id.value || modelsArray[i].attributes.id.value == "AllCars") {
                modelsArray[i].style.display = "block";
                modelSelect.selectedIndex = selectedItem;
            }
            else {
                modelsArray[i].style.display = "none";
            }
        }

        let brandElements = document.getElementsByClassName("card-body");

        if (brand.value == "AllCars") {
            for (var i = 0; i < brandElements.length; i++) {
                if (brandsArray.length >= 3) {
                    let currentElement = brandElements[i].parentElement.parentElement;
                    currentElement.hidden = true;
                    brandsArray.push(currentElement);
                } else {
                    let currentElement = brandElements[i].parentElement.parentElement;
                    currentElement.hidden = false;
                    brandsArray.push(currentElement);
                }

            }
        }
        else {
            for (var i = 0; i < brandElements.length; i++) {

                if (brandElements[i].title !== brand.id) {
                    brandElements[i].parentElement.parentElement.hidden = true;
                } else if (brandsArray.length >= 3) {
                    let currentElement = brandElements[i].parentElement.parentElement;
                    currentElement.hidden = true;
                    brandsArray.push(currentElement);
                }
                else {
                    let currentElement = brandElements[i].parentElement.parentElement;
                    currentElement.hidden = false;
                    brandsArray.push(currentElement);
                }
            }
        }
        if (brandsArray.length == 0) {
            btn.disabled = true;
        }
        carsShown = 3;
        brandFiltered++;
        modelFiltered = 0;
        modelArray = [];
    }

    function modelFilter() {
        modelArray = [];
        let btn = document.getElementById("btn");
        btn.disabled = false;
        modelFiltered = 0;
        let modelSelect = document.getElementById("ModelId");
        let brandSelect = document.getElementById("BrandId");
        let brand = brandSelect.options[brandSelect.selectedIndex];
        let model = modelSelect.options[modelSelect.selectedIndex];
        let modelElements = document.getElementsByClassName("card-title");
        let brandElements = document.getElementsByClassName("card-body");

        if (model.value == "AllCars") {
            carsshown = 3;
            for (var i = 0; i < brandElements.length; i++) {
                let currentElement = brandElements[i].parentElement.parentElement;
                if (brandElements[i].title !== brand.id) {
                    brandElements[i].parentElement.parentElement.hidden = true;
                } else if (modelArray.length >= 3) {
                    currentElement.hidden = true;
                    modelArray.push(currentElement);
                }
                else {
                    currentElement.hidden = false;
                    modelArray.push(currentElement);
                }
            }
        } else {
            for (var i = 0; i < modelElements.length; i++) {
                let currentElement = modelElements[i].parentElement.parentElement.parentElement;
                if (modelElements[i].title !== model.value) {
                    currentElement.hidden = true;
                } else if (modelArray.length >= 3) {
                    currentElement.hidden = true;
                    modelArray.push(currentElement);
                }
                else {
                    currentElement.hidden = false;
                    modelArray.push(currentElement);
                }
            }
        }
        if (modelArray.length == 0) {
            btn.disabled = true;
        }

        carsShown = 3;
        modelFiltered++;
    }

    function viewMore() {
        let cards = document.getElementsByClassName("card");
        let btn = document.getElementById("btn");

        if (brandFiltered == 0) {
            if (carsShown + 3 <= cards.length) {
                btn.disabled = false;
                for (var i = carsShown; i < carsShown + 3; i++) {
                    let divElement = cards[i].parentElement;
                    divElement.hidden = false;
                }
                carsShown += 3;
            } else if (carsShown + 3 > cards.length && carsShown < cards.length) {
                btn.disabled = false;
                for (var i = carsShown; i < cards.length; i++) {
                    let divElement = cards[i].parentElement;
                    divElement.hidden = false;
                    carsShown++;
                }
                btn.disabled = true;
            } else if (cards.length <= carsShown) {
                btn.disabled = true;
            }
        } else if (brandsArray.length > 0 && modelArray.length == 0 && modelFiltered == 0) {
            console.log("hi1");
            if (carsShown + 3 <= brandsArray.length) {
                btn.disabled = false;
                for (let i = carsShown; i < carsShown + 3; i++) {
                    let divElement = brandsArray[i];
                    divElement.hidden = false;
                }
                carsShown += 3;
            } else if (carsShown + 3 > brandsArray.length && carsShown < brandsArray.length) {
                console.log("hi2");
                btn.disabled = false;
                for (let i = carsShown; i < brandsArray.length; i++) {
                    let divElement = brandsArray[i]
                    divElement.hidden = false;
                }
                btn.disabled = true;
            } else if (brandsArray.length <= carsShown) {
                btn.disabled = true;
            }
        } else if (brandsArray.length > 0 && modelArray.length == 0 && modelFiltered == 1) {
            console.log("hi3");
            carsShown = 0;
            for (var i = 0; i < length; i++) {
                let divElement = cards[i].parentElement;
                divElement.hidden = false;
            }
        } else if (brandsArray.length > 0 && modelArray.length > 0) {
            console.log("hi4");
            if (carsShown + 3 <= modelArray.length) {
                btn.disabled = false;
                for (let i = carsShown; i < carsShown + 3; i++) {
                    let divElement = modelArray[i];
                    divElement.hidden = false;
                }
                carsShown += 3;
            } else if (carsShown + 3 > modelArray.length && carsShown < modelArray.length) {
                btn.disabled = false;
                for (let i = carsShown; i < modelArray.length; i++) {
                    let divElement = modelArray[i];
                    divElement.hidden = false;
                }
                btn.disabled = true;
            } else if (brandsArray.length <= carsShown) {
                btn.disabled = true;
            }
        }
    }
</script>